
body {
    margin-left: auto;
    margin-right: auto;
    background-color: #7D9B99;
    text-align: center;
    width: 1024px;
    height: 100%;
}
a, h1 {
    color: #EFF4EE;
}
label {
    float: left;
}
input {
    display: inline-block;
    float: left;
}
#header {
    position: relative;
}
#content {
}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 24px;
    margin-top: -2px;
    padding: 10px;
}
.title {
    position: absolute;
    color: #EFF4EE;
    top: 50px;
    right: 20px;
    font-size: 33px;
    z-index: 2;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}
.errorlist {
    color: red;
}
.form {
    float: left;
    width: 400px;
    color: #EFF4EE;
}
.menu {
    text-align: center;
    color: #EFF4EE;
    font-size: 20px;
    vertical-align: top;
}
.item {
    display: inline;
    text-decoration: underline;
}

/* main page segment splitting */
.split {
    width: 100%;
}
.floatleft {
    float: left;
    width: 700px;
}
.floatright {
    float: right;
    height: 400px;
    width: 300px
}
.field_errors {
    color: red;
}

/* POSTS on index */
.posts_container {
    padding: 12px;
    border-collapse: separate;
    border-spacing: 0px 20px;
}
.avatar {
    text-align: center;
    vertical-align: top;
    height: 175px;
    width: 100px;
    color: #232323;
}
.message {
    vertical-align: top;
    text-align: left;
    background-color: #B1C3C1; /* #5B8582;*/
    padding: 10px;
    color: #232323;
    width: 100%;
    /*border-left: 20px solid transparent;*/
    border-radius: 60px 10px 60px 10px;
}
.postheader {
    text-align: center;
    padding: 8px;
    font-size: 22px;
    color: #232323; /*455779;*/
}




