/*
    #B1C3C1 = light green message background
    #232323 = black
    #EFF4EE = white
    #7D9B99 = darker green page background
    #D27178 = average red of sign in header
    #455779 = name color, nice purpley
*/
body {
    margin-left: auto;
    margin-right: auto;
    background-color: #7D9B99;
    text-align: center;
    width: 1024px;
    height: 100%;
}
a, h1 {
    color: #EFF4EE;
}
.round {
    border: 1px solid #232323;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
}
.round_small {
    border: 1px solid #232323;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

a.delete, a.edit, a.save {color: #232323;}

label {
    float: left;
}
input, textarea {
    display: inline-block;
    float: left;
}
#header {
    position: relative;
}
#content {
    color: #EFF4EE;
}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 24px;
    margin-top: -2px;
    padding: 10px;
}
.title {
    position: absolute;
    color: #EFF4EE;
    top: 50px;
    right: 20px;
    font-size: 33px;
    z-index: 2;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}
.UserDisplay {
    font-style: italic;
    height: 25px;
    line-height: 25px;
    vertical-align: bottom;
    padding-bottom: 10px;
}

/* forms */
.errorlist {
    padding: 0px;
    text-align: right;
    color: red;
    margin: 0px;
}
.form {
    float: left;
    width: 600px;
    color: #EFF4EE;
}
.form_labels {
    width: 130px;
}

/* nav menu */
.menu {
    text-align: center;
    color: #EFF4EE;
    font-size: 20px;
    vertical-align: top;
}
.item {
    display: inline;
    text-decoration: underline;
}

/* main page segment splitting */
.split {
    width: 100%;
}
.floatleft {
    float: left;
    width: 700px;
}
.floatright {
    float: right;
    height: 400px;
    width: 300px
}
.evenfloatleft {
    float: left;
    width: 500px;
}
.evenfloatright {
    float: right;
    height: 400px;
    width: 500px
}
.field_errors {
    color: red;
}

/* POSTS on index */
.posts_container {
    padding: 12px;
    border-collapse: separate;
    border-spacing: 0px 20px;
}
.avatar {
    text-align: center;
    vertical-align: middle;
    height: 150px;
    color: #455779;
    font-weight: bold;
}
.message {
    vertical-align: top;
    text-align: left;
    background-color: #B1C3C1; /* #5B8582; B9BFCA*/
    padding: 10px 10px 0px;
    color: #232323;
    width: 100%;
    /*border-left: 20px solid transparent;*/
    border-radius: 60px 10px 60px 10px;
    border: 1px solid #232323;
    font-size: 14px;
}
.postheader {
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    color: #232323; /*455779;*/
}
.postdate {
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
}
.comment {
    border: 0px solid #EFF4EE;
    vertical-align: top;
}
.comment_new {
    border: 0px solid #EFF4EE;
}
.comment_user {
    color: #455779;
    font-weight: bold;
}
.weather_table {
    border: 3px solid #EFF4EE;
}

/* tooltips */
a.tooltip {
    outline: none;
    text-decoration: none;
}
a.tooltip strong {line-height: 20px;}
a.tooltip:hover {text-decoration: none;}
a.tooltip span {
    z-index: 10;
    display: none;
    padding: 10px 15px;
    margin-top: -10px;
    margin-left: 10px;
    width: auto;
    line-height: 16px;
}
a.tooltip:hover span {
    display: inline;
    position: absolute;
    color: #232323;
    border: 4px solid #7D9B99;
    background: #EFF4EE;
}
.callout {
    z-index: 20;
    position: absolute;
    top: 20px;
    border: 0;
    left: -12px;
}
a.tooltip span {
    border-radius: 20px;
    box-shadow: 5px 5px 8px #CCC;
}

/* ajax call indicator */
.loading_icon {
  position: relative;
  left: 10px;
  top: 10px;
}
