{% extends "layout.html" %}
{% load kite_tags %}

{% block body %}
<div class="split">
    <div class="floatleft">
      <table class="posts_container">
        {% for post in posts %}
          <tr>
            <td class="avatar">
              <img src="{{ post.userid.email|gravaturl }}" class="round">{{ post.userid.username }}
            </td>
            <td class="message">
              <div class='postheader'>{{ post.title }}</div>
              <div class='postdate'>{{ post.created|date }} at {{ post.created|time }}</div>
              {{ post.message|striptags|linebreaks }}
              {% if post.photo %}
                  <div class="post_image">
                    <img src="{{ post.photo|imgurl }}" height="{{ post.photo_height }}" width="{{ post.photo_height }}"/>
                  </div>
              {% endif %}
              {% ifequal user post.userid.username %}
                <a href="#" class="tooltip delete" post_id="{{ post.id }}">
                  <i class="fa fa-trash-o"></i><span>delete this post</span>
                </a>
                <img height='48' width='48' src="/static/images/pacman.gif" class="loading_icon" id="loading-indicator_{{ post.id }}" style="display:none" />
                | <a href="/post/edit/{{ post.id }}" class="tooltip edit" post_id="{{ post.id }}"><i class="fa fa-edit"></i><span>edit this post</span>
                </a>
              {% endifequal %}
              <hr>
              {% include 'ket_forms/comment.html' %}
            </td>
          </tr>
        {% endfor %}
        <tr><td colspan=2>View older posts <a href='/limit/50'>(50)</a> <a href='/limit/314159'>(all)</a></td></tr>
      </table>
    </div>
    <div class="floatright"><p>Welcome to kiteeatingtree.org! </p>
      <p>Keep up to date with
       your family and friends. No worries of the man spyin on you, or using
        your messages to send you ads.</p>

        <p><strong>Coming Soon...</strong><br/>
        dates for posts/comments, and image uploads for avatars.
       Also different "user preferences" options, such as avatar style, etc...</p>
    </div>
</div>
{% endblock %}
