{% extends "layout.html" %}

{% block body %}
<div class="split">
    <div class="floatleft">
      <table class="posts_container">
        {% for post in posts %}
          <tr>
            <td class="avatar">{{ post.userid.username }}</td>
            <td class="message"><div class='postheader'>{{ post.title }}</div>{{ post.message|striptags|linebreaks }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="floatright">Page info goes here.</div>
    <div style="clear: both;">
</div>
{% endblock %}
