{% extends "layout.html" %}

{% block body %}
<div class="split">
    <div class="floatleft">
      <table class="posts_container">
        {% for post in posts %}
          <tr>
            <td class="avatar">{{ post.userid.username }}</td>
            <td class="message"><div class='postheader'>{{ post.title }}</div>{{ post.message|striptags|linebreaks }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="floatright"><p>Welcome to kiteeatingtree.org! Leave messages for your family and friends without  worrying about a million strangers seeing them or some evil empire sending you ads based on what you say.</p>

        <p><strong>Coming Soon...</strong><br/>
        avatars, post comments, picture posting, group messages, and more...</p>
    </div>
</div>
{% endblock %}
