<!DOCTYPE html>
<html>
  {% include 'head.html' %}
  <body>
      <div id="header">
        <div class='title'>{{ title }}</div>
        <img src="{{STATIC_URL}}images/header.jpg" width=1024px class="round">
      </div>
      <div id='content'>
        <div class="menu">
          <div class="item"><a href="/">home</a></div> |
          <div class="item"><a href="/post/create">create post</a></div> |
          <div class="item"><a href="/upload/image">post image</a></div> |
          <div class="item"><a href="/user/create">register</a></div> |
          <div class="item"><a href="/user/edit">edit your info</a></div> |
          <div class="item"><a href="/weather">weather</a></div>
        </div>
        <div class='UserDisplay'>{{ user_display | safe }}</div>
        {% block body %}
        {% endblock %}
      </div>
      <div id="footer">
        &copy; Copyright 2015 by CHRIS WOOD LUXURIANT ENTERPRISES
      </div>
  </body>
</html>
